*{
  margin: 0;
  box-sizing: border-box;
}
title{
  text-align: center;
}
div#Titulo{
  text-align: center;
}
.Titulo .Tit_1{
  text-align: center;
  font-family: cursive;
  font-size: 100px;
  letter-spacing: 2PX;
}
.header{
  height: 180px;
  width: auto;
  background: brown;
}
body{
  background-color: orange;
  text-align: center;
}
h2{
  text-align: center;
  font-family: serif;
  font-style: oblique;
  font-size: 3 em;

}
.body .imagen_1{
  border: 5px solid;
  border-color: rgba(0, 0, 0);
  height: 250px;
  width: auto;
}
.body .Tabla_1{
  table-layout: auto;
  border-spacing: 30px;
  table-layout: auto;
  margin: auto;
}
