*{
  margin: 0;
  box-sizing: border-box;
}
title{
  text-align: center;
}
div#Titulo{
  text-align: center;
}
.Titulo .h1{
  text-align: center;
  font-family: cursive;
  font-style: normal;
  font-size: xx-large;
}
.header{
  height: 100px;
  width: auto;
  background: brown;
}
body{
  background-color: orange;
  text-align: center;
}
h2{
  text-align: center;
  font-family: serif;
  font-style: oblique;
  font-size: normal;
}
.body .imagen_1{
  border: 1px solid;
  height: 250px;
  width: auto;
}
.body .Tabla_1{
  table-layout: auto;
  border-spacing: 30px;
  table-layout: auto;
  margin: auto;
}
